extends layout

block content

  form(action='/lyric' method='post')
    div.row.form-group
      div.col-sm-12
        input.form-control(type='text', placeholder='請輸入句子' name='inputSentence')
    div.row.form-group
      div.col-sm-12
        select.custom-select.form-control(name='wordNum')
          option(value='1') 1個字
          option(value='2' selected) 2個字
          option(value='3') 3個字
          option(value='4') 4個字
          option(value='5') 5個字
    div.row.form-group
      div.col-sm-12
        select.custom-select.form-control(name='rhyme')
          option(value='ㄓ' selected) ㄓ韻
          option(value='ㄔ') ㄔ韻
          option(value='ㄕ') ㄕ韻
          option(value='ㄖ') ㄖ韻
          option(value='ㄗ') ㄗ韻
          option(value='ㄘ') ㄘ韻
          option(value='ㄙ') ㄙ韻
          option(value='ㄧ') ㄧ韻
          option(value='ㄨ') ㄨ韻
          option(value='ㄩ') ㄩ韻
          option(value='ㄚ') ㄚ韻
          option(value='ㄛ') ㄛ韻
          option(value='ㄜ') ㄜ韻
          option(value='ㄝ') ㄝ韻
          option(value='ㄞ') ㄞ韻
          option(value='ㄟ') ㄟ韻
          option(value='ㄠ') ㄠ韻
          option(value='ㄡ') ㄡ韻
          option(value='ㄢ') ㄢ韻
          option(value='ㄣ') ㄣ韻
          option(value='ㄤ') ㄤ韻
          option(value='ㄥ') ㄥ韻
          option(value='ㄦ') ㄦ韻
    div.row.form-group
      div.col-sm-12
        button.btn.btn-primary.form-control(type='submit') 推薦

    if words
      div.card
        ul.list-group.list-group-flush
            each word in words
              li.list-group-item #{word}
            else
              div.col-sm-12 There are no books.